mule-udemy-projects/api-project/src/main/app/api-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8083" doc:name="HTTP Listener Configuration"/>
    <flow name="api-projectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/employee/{id}" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="firstName" value="#[&quot;Sanjay&quot;]" doc:name="Variable"/>
        <set-session-variable variableName="lastName" value="#[&quot;Bharatiya&quot;]" doc:name="Session Variable"/>
        <logger message="Incoming Path variable is #[message.inboundProperties.'http.uri.params'.id]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[firstName == &quot;Sanjay&quot;]">
                <flow-ref name="api-projectSub_Flow" doc:name="Flow Reference"/>
            </when>
        </choice>
        <logger message="Vars can also be access as #[firstName] and #[lastName]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-variable variableName="fullName"><![CDATA[%dw 1.0
%output application/java
---
{
	firstName: flowVars.firstName,
	lastName: sessionVars.lastName
}]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	firstName: flowVars.firstName,
	lastName: sessionVars.lastName
}]]></dw:set-payload>
        </dw:transform-message>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	firstName: flowVars.firstName,
	lastName: sessionVars.lastName
}]]></dw:set-payload>
        </dw:transform-message>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="In Exception Handler" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="api-projectSub_Flow">
        <logger level="INFO" doc:name="Logger" message="FlowVars in SubFlow: #[flowVars] -------- SessionVars in SubFlow: #[sessionVars]"/>
    </sub-flow>
</mule>
