mule-udemy-projects/sftp-trial/src/main/app/sftp-trial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <sftp:connector name="SFTP" validateConnections="true" doc:name="SFTP"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="sftp-trialFlow">
        <sftp:inbound-endpoint connector-ref="SFTP" host="demo.wftpserver.com" port="2222" path="/download" user="demo-user" password="demo-user" responseTimeout="10000" doc:name="SFTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="src/main/resources" outputPattern="#[message.inboundProperties.originalFilename] " connector-ref="File" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
