training4-accounts-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="e93c7a6e-8a85-42fd-ba4a-06ffb8b0643c" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccountFromDBFlow" doc:id="8842de67-f650-42af-a063-65043d7e161d" >
		<db:select doc:name="SelectAccount" doc:id="be8c2fcf-cd9f-4218-b03a-ee3da5245bb1" config-ref="Database_Config">
			<db:sql >SELECT *
FROM flights_customers
WHERE accountType = :accountType</db:sql>
			<db:input-parameters ><![CDATA[#[{'accountType' : attributes.queryParams.accountType}]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
