mule-udemy-projects/mule-consume-apis/src/main/app/mule-consume-apis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9091" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="reqres.in" port="443" basePath="/api/users" doc:name="HTTP Request Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="https://www.w3schools.com/xml/tempconvert.asmx?WSDL" service="TempConvert" port="TempConvertSoap" serviceAddress="http://www.w3schools.com/xml/tempconvert.asmx" doc:name="Web Service Consumer"/>
    <flow name="mule-consume-apisFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/consume/apis" allowedMethods="get" doc:name="HTTP"/>
        <set-variable variableName="typeOfApiRequest" value="#[message.inboundProperties.'http.query.params'.apiType]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="flowVars.typeOfApiRequest == &quot;rest&quot;">
                <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="RESTConnector">
                    <http:request-builder>
                        <http:query-param paramName="page" value="#[message.inboundProperties.'http.query.params'.numOfPages]"/>
                    </http:request-builder>
                </http:request>
            </when>
            <otherwise>
                <set-variable variableName="celciusTemp" value="#[message.inboundProperties.'http.query.params'.celciusTemp]" doc:name="Variable"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 https://www.w3schools.com/xml/
---
{
	ns0#CelsiusToFahrenheit: {
		ns0#Celsius: flowVars.celciusTemp
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <ws:consumer config-ref="Web_Service_Consumer" operation="CelsiusToFahrenheit" doc:name="Web Service Consumer"/>
                <json:xml-to-json-transformer doc:name="XML to JSON"/>
            </otherwise>
        </choice>
    </flow>
</mule>
