mule-udemy-projects/second-project/src/main/app/second-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <vm:connector name="VM-1" validateConnections="true" doc:name="VM"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <sub-flow name="second-projectSub_Flow">
        <logger message="SubFlow Processing" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <flow name="second-projectFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="VM-1" connector-ref="VM-1" doc:name="VM"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="second-projectFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	firstName: "Sanjay",
	lastName: "Bharatiya",
	gender: "Male"
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Payload is #[payload]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="Logging JSON #[payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <logger message="In XML format #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    
    <flow name="second-projectFlow-1" processingStrategy="synchronous">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <logger message="Transformed PAyload - #[payload]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="firstName" value="#[&quot;Sanjay&quot;]" doc:name="Variable"/>
        <set-payload value="#[flowVars.firstName] #[sessionVars.lastName]" doc:name="Set Payload"/>
        <flow-ref name="second-projectSub_Flow" doc:name="Flow Reference"/>
        <set-session-variable variableName="lastName" value="#[&quot;Bharatiya&quot;]" doc:name="Session Variable"/>
        <logger message="Flow Processing Ending" level="INFO" doc:name="Logger"/>
        <set-property propertyName="remarks" value="&quot;Mule is fun&quot;" doc:name="Property"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="VM-1" connector-ref="VM-1" doc:name="VM"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
