mulesoft-official-training-course/process-spreadsheet/src/main/app/process-spreadsheet-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:request-config name="httpAccountsClient" host="apdev-accounts-ws.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration"/>
    <ws:consumer-config name="transactionWebServiceConsumer" wsdlLocation="http://apdev-accounts-ws.cloudhub.io/api/transactions?wsdl" service="TransactionServiceService" port="TransactionServicePort" serviceAddress="http://apdev-accounts-ws.cloudhub.io/api/transactions" doc:name="Web Service Consumer"/>
    
    <flow name="getAllaccounts">
        <logger message="Getting all Accounts............................." level="INFO" doc:name="Logger"/>
        <set-variable variableName="fvAccountType" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-variable variableName="fvRequesterID" value="#[message.inboundProperties.'Requester-ID']" doc:name="Variable"/>
        <http:request config-ref="httpAccountsClient" path="/accounts" method="GET" doc:name="accountsRestApiConsumer">
            <http:request-builder>
                <http:query-param paramName="type" value="#[flowVars.fvAccountType]"/>
                <http:header headerName="Requester-ID" value="#[flowVars.fvRequesterID]"/>
            </http:request-builder>
        </http:request>

        <dw:transform-message doc:name="Transform Message" metadata:id="a4d0109b-b8a5-41bd-a4ea-8eba81b693ba">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://training.mulesoft.com/
---
{
	ns0#GetTransactionsforCustomers: {
		((flatten payload.id) map {
		customerID: $.id
		}
		)
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="transactionWebServiceConsumer" operation="GetTransactionsforCustomers" doc:name="accountsSoapApiConsumer"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <logger message="#[flowVars.fvAccountsResponse]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="8666b9fa-8423-40a5-8f86-1d5fb8fea1ca">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	"accounts": flowVars.fvAccountResponse,
	"transactions": payload01
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Got SOAP Response..... #[payload]" level="INFO" doc:name="Logger"/>

    </flow>
    <flow name="getAccountsById">
        <set-payload value="{&#xA;&quot;id&quot; : &quot;1&quot;,&#xA;&quot;firstName&quot; : &quot;John&quot;,&#xA;&quot;lastName&quot; : &quot;Smith&quot;,&#xA;&quot;address&quot; : &quot;1002 Main Street, Springfield TX&quot;,&#xA;&quot;postal&quot; : &quot;77002&quot;,&#xA;&quot;country&quot; : &quot;USA&quot;,&#xA;&quot;creationDate&quot; : &quot;2016-01-04T12:48:19+00:00&quot;,&#xA;&quot;accountType&quot; : &quot;personal&quot;,&#xA;&quot;miles&quot; : 8492&#xA;}" doc:name="Set Payload"/>
    </flow>

</mule>
